.clockInput {
	.clockInput_button {
		color: green;
	}

  .inputContainer {
    margin-top: 20px;
  }

	.glyphicon-certificate {
		&.true {
			color: green;
		}
		&.false {
			color: red;
		}
	}

	.alarms {
    width: calc(100% - 20px);
    margin: 50px 10px 10px 10px;
    .alarm_item {
      margin-top: 30px;
    }
	}
}

.container {
  .jumbotron {
    margin-top: 10vh;
  }
  .logo {
    margin: 12px;
    display: block;
    text-align: center
  }
}